.main {
    &Container {
        width: 100vw;
    }
    &Wrapper {
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &>article {
            margin-bottom: 16px;
        }
        & h1 {
            margin-bottom: 1.5rem;
        }
        @media (min-width: 1280px) {
            max-width: 960px;
            padding: 0 12px;
        }
        @media(max-width: 1000px) {
            width: 90%;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
    }
    &findedPosts {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
}